body {
  background-color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
  align-items: center;
}

#controls {
  background-color: #333;
  color: #ccc;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}
