body {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-size: 32px;
  color: #ccc;
  font-family: "Courier New", Courier, monospace;
}

a {
  color: #ccc;
  font-weight: bold;
}

a:visited {
  color: #999;
}

main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

#three > canvas {
  max-width: 100vw;
  max-height: 100vw;
  cursor: pointer;
}

#controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 2rem 2rem;
  max-width: 55rem;
}

#controls > * {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  margin-right: 1rem;
}

input[type="checkbox"] {
  width: 3rem;
  height: 3rem;
}

input[type="range"] {
  width: inherit;
  max-width: 50rem;
}

#record {
  font-size: 18px;
  padding: 1rem;
  margin-left: 3rem;
}

#download {
  margin-left: 1rem;
}

#gallery {
  display: block;
}

#gallery-label {
  text-align: center;
}

#gallery-container {
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#gallery-container > img {
  cursor: pointer;
}

@media screen and (orientation: landscape) {
  body {
    font-size: 18px;
  }

  #three > canvas {
    max-width: 546px;
    max-height: 546px;
  }

  #controls > * {
    margin-bottom: 2rem;
  }
}
