body {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #ccc;
}

a:visited {
  color: #aaa;
}

main {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
  align-items: center;
}

#controls {
  background-color: #333;
  color: #ccc;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
}

#controls > * {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  margin-right: 0.5rem;
}